{
  "arrowParens": "always",
  "bracketSpacing": true,
  "printWidth": 150,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "importOrder": ["^@/components/(.*)$", "^public/(.*)$", "css$", "^[./]"],
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
