@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black-0: #f5f5f5;
    --black-20: #d9d9d9;
    --black-40: #a5a5a5;
    --black-60: #828282;
    --black-80: #3b3838;
    --black-100: #000;
    --orange: #ffc163;
    --sky: #2898ff;
    font-size: 62.5%;
  }

  body {
    @apply bg-black-0 text-black-100;
  }

  body > div:first-child {
    @apply mx-auto flex max-w-[50rem] flex-col shadow-lg;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .absolute-center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .mt-m-auto {
    margin-top: min(6rem, auto);
  }

  .transform-active {
    @apply transition-transform active:scale-95;
  }
}

*::-webkit-scrollbar {
  display: none;
}

input::-webkit-search-cancel-button {
  display: none;
}
